@import "variables.css";
@import "reset.css";

body {
    background-color: #f0f0f0;
     font-family: "Roboto Condensed", sans-serif;
  

}

.barra-inicial {
    background-color: #329c7c;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #035039;
 
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    border: 1.0px solid rgba(0, 0, 0, .125);
    border-radius: 20px;


}


.titulo {
    color: #009982;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgray;
}



.divTitulo {
    text-align: left;
    margin-left: 50px;
}


input {
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid darkgray;
    margin-top: 25px;
}

button {
    height: 40px;
    width: 215px;
    border-radius: 18px;
    font-size: 20px;
    background-color: #16907D;
    color: white;
    cursor: pointer;

}

.button-group {
    margin-top: 30px;
    margin-bottom: 30px;

}

.forgot-password {
    margin-top: 20px;

}

a {
    color: #009982;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}